extends layout
        
block content
        
        div.container.text-center

                div.form-group.row.justify-content-center.mt-5
                        h1#username.text-white= user['username']

                div.row-3.h-50.m-5.border.border-dark.container-fluid#div_pictures

                        div.row.border.h-50.justify-content-center
                                div.col-3.border.border-dark
                                        form(action="fileupload" method="post" enctype="multipart/form-data")
                                                input(type='file' name='picture').d-none#pic1
                                                input(type='submit' name="submitphotos").d-none#pic_sub                        
                                        img(src="/assets/ressources/add_icon.png").img-circle.border.img-responsive.h-100#img1.picture_none
                                        div.picture_tools.w-100.d-none
                                                a.delete_picture Delete
                        div.row.border.border-dark.h-50.p-5.d-flex.justify-content-around
                                div.col-2.border
                                        img(src="/assets/ressources/add_icon.png").img-circle.border.img-responsive.h-100#img2.picture_none
                                        div.picture_tools.w-100.d-none
                                                a.delete_picture Delete
                                                a.set_profil_pic Set profil pic
                                div.col-2.border
                                        img(src="/assets/ressources/add_icon.png").img-circle.border.img-responsive.h-100#img3.picture_none
                                        div.picture_tools.w-100.d-none
                                                a.delete_picture Delete
                                                a.set_profil_pic Set profil pic
                                div.col-2.border
                                        img(src="/assets/ressources/add_icon.png").img-circle.border.img-responsive.h-100#img4.picture_none
                                        div.picture_tools.w-100.d-none
                                                a.delete_picture Delete
                                                a.set_profil_pic Set profil pic
                                div.col-2.border
                                        img(src="/assets/ressources/add_icon.png").img-circle.border.img-responsive.h-100#img5.picture_none
                                        div.picture_tools.w-100.d-none
                                                a.delete_picture Delete
                                                a.set_profil_pic Set profil pic
                        div.row
                                div.w-100.d-flex.justify-content-center.form-group
                                        p#return_picture.text-danger
                
                form#form_profil.container(method="POST").text-center
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        label#label_firstname.text-white(for="profil_firstname")= user['name']
                                //- div.w-100
                                div.col-2
                                        input#profil_firstname.form-control(type="text" placeholder="Edit first name" maxlength="20" name="profil_firstname")
                                div.col-1
                                        button#submit_firstname(type="submit").btn.btn-primary Edit
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_firstname.text-danger

                form#form_profil.container(method="POST").text-center
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        label#label_lastname.text-white(for="profil_lastname")= user['lastname']
                                //- div.w-100
                                div.col-2
                                        input#profil_lastname.form-control.border(type="text" placeholder="Edit last name" maxlength="199" name="profil_lastname")
                                div.col-1
                                        button#submit_lastname(type="submit").btn.btn-primary Edit
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_lastname.text-danger

                form#form_profil.container(method="POST").text-center
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        label#label_gender.text-white(for="profil_gender")= user['genre']
                                //- div.w-100
                                div.col-2
                                        select#profil_gender(name="profil_gender")
                                                -if (user['genre'] === 'No gender')
                                                        option(value="B") No gender
                                                        option(value="M") Man
                                                        option(value="F") Female
                                                -else if (user['genre'] === 'I\'m a dick')
                                                        option(value="M") Man
                                                        option(value="B") No gender
                                                        option(value="F") Female                               
                                                -else if (user['genre'] === 'I\'m a pussy')
                                                        option(value="F") Female                               
                                                        option(value="M") Man
                                                        option(value="B") No gender
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_gender.text-danger

                form#form_profil.container(method="POST").text-center.mt-5
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        label#label_desire.text-white(for="profil_desire")= user['desire']
                                //- div.w-100
                                div.col-2
                                        select#profil_desire(name="profil_desire")
                                                -if (user['desire'] === 'I like all')
                                                        option(value="B") I like both
                                                        option(value="M") I like men
                                                        option(value="F") I like womans
                                                -else if (user['desire'] === 'I like dicks')
                                                        option(value="M") I like men
                                                        option(value="B") I like both
                                                        option(value="F") I like womans                               
                                                -else if (user['desire'] === 'I like pussies')
                                                        option(value="F") I like womans                               
                                                        option(value="M") I like men
                                                        option(value="B") I like both
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_desire.text-danger

                form#form_profil.container(method="POST").text-center.mt-5
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        label#label_email.text-white(for="profil_email")= user['email']
                                //- div.w-100
                                div.col-2
                                        input#profil_email.form-control(type="email" placeholder="Edit email" maxlength="199" name="profil_email")
                                div.col-1
                                        button#submit_email(type="submit").btn.btn-primary Edit
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_email.text-danger

                form#form_profil.container(method="POST").text-center.mt-5      
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        h3.text-white Biography
                                div.w-100                        
                                div.w-50
                                        label#label_bio.text-white(for="profil_bio")= user['bio']
                                div.w-100
                                div.w-50
                                        input#profil_bio.form-control(type="text" placeholder="Edit your biography (Max 249 characters)" maxlength="249" name="profil_bio")
                                div.col-1
                                        button#submit_bio(type="submit").btn.btn-primary Edit
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_bio.text-danger

                form#form_profil.container(method="POST").text-center.mt-5      
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        h3.text-white Tags
                                div.w-100                        
                                div#div_user_tags.col-4
                                        
                                div.w-100
                                div.col-3
                                        input#profil_tag.form-control(type="text" placeholder="Edit your biography (Max 249 characters)" maxlength="249" name="profil_bio")
                                        //- div#dropdown_tags
                                                h1 TEST
                                div#div_list_tags.col-3
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_tags.text-danger
                
                div#map.w-100.h-50.m-5
        
                script(src="assets/javascript/gmap.js")
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQLxSC_8p5hGoy2bSfRyLJL0Yhcrh1XXA&callback=initMap"></script>

                script(src="assets/javascript/profil.js")