extends layout
        
block content
        
        div.mt-5.mb-5.container.text-center(style="background-color: white;border-radius: 2px;padding-left:50px;padding-right:50px;padding-bottom:10%;")

                div.pb-2.form-group.row.justify-content-center.mt-5.border.border-top-0.border-left-0.border-right-0
                        h1#username.sarina= user['username']

                div.row-8.p-4.container-fluid#div_pictures(style="height: 400px; border-radius: 2px;").border.border-top-0.border-left-0.border-right-0
                        div.row.justify-content-center(style={height:'73%', padding:'1%'})
                                div.col-3.h-100.w-100
                                        form(action="fileupload" method="post" enctype="multipart/form-data")
                                                input(type='file' name='picture').d-none#pic1
                                                input(type='submit' name="submitphotos").d-none#pic_sub                        
                                        img(src="/assets/ressources/add_icon.png" style="border: 1px solid red;border-radius: 500px 500px 500px 500px;").img-circle.border.img-responsive.h-100#img1.picture_none
                                        div.picture_tools.w-25.d-none.m-auto
                                                a.delete_picture Delete
                        div.row.d-flex.justify-content-around(style={height:'25%'})
                                div.col-2.h-100.w-100
                                        img(src="/assets/ressources/add_icon.png" style="border: 1px solid red;border-radius: 500px 500px 500px 500px;").img-circle.border.img-responsive.h-100#img2.picture_none
                                        
                                        div.picture_tools.w-100.d-none.container
                                                div.row
                                                        a.col-4.delete_picture.m-auto Delete
                                                        a.col-8.set_profil_pic.m-auto Set profil
                                div.col-2.h-100.w-100
                                        img(src="/assets/ressources/add_icon.png" style="border: 1px solid red;border-radius: 500px 500px 500px 500px;").img-circle.border.img-responsive.h-100#img3.picture_none
                                        div.picture_tools.w-100.d-none.container
                                                div.row
                                                        a.delete_picture.m-auto Delete
                                                        a.set_profil_pic.m-auto Set profil
                                div.col-2.h-100.w-100
                                        img(src="/assets/ressources/add_icon.png" style="border: 1px solid red;border-radius: 500px 500px 500px 500px;").img-circle.border.img-responsive.h-100#img4.picture_none
                                        div.picture_tools.w-100.d-none.container
                                                div.row
                                                        a.delete_picture.m-auto Delete
                                                        a.set_profil_pic.m-auto Set profil
                                div.col-2.h-100.w-100
                                        img(src="/assets/ressources/add_icon.png" style="border: 1px solid red;border-radius: 500px 500px 500px 500px;").img-circle.border.img-responsive.h-100#img5.picture_none
                                        div.picture_tools.w-100.d-none.container
                                                div.row
                                                        a.delete_picture.m-auto Delete
                                                        a.set_profil_pic.m-auto Set profil
                        div.row
                                div.w-100.d-flex.justify-content-center.form-group
                                        p#return_picture.text-danger

                button#button_historic(type="submit").btn.btn-primary.m-5.mb-0 Historic
                div#div_historic.container-fluid.justify-content-between.m-5(style={height:'15%'}).m-auto
                    div.row.p-3.m-5(style={height:'80%'}).justify-content-around.mt-0
                        div.col-4(style={color: 'black', padding: '2px', background: 'white', height: '90%'})
                                h4.muffin.text-center Views
                                div#div_notif_views.pre-scrollable.h-100(style={padding: '50px',  background: 'white', 'border-radius': '2px', overflow: 'auto'}).border                      
                        div.col-4(style={padding: '2px', background: 'white', height: '90%'})
                                h4.muffin.text-center Likes                       
                                div#div_notif_likes.h-100(style={background: 'white', padding: '50px', 'border-radius': '2px', overflow: 'auto'}).pre-scrollable.border                    
                form#form_profil.container(method="POST")
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        label#label_firstname.sarina(for="profil_firstname")= user['name']
                                //- div.w-100
                                div.col-2.mt-auto.mb-auto
                                        input#profil_firstname.form-control(type="text" placeholder="Edit first name" maxlength="20" name="profil_firstname")
                                div.col-1.mt-auto.mb-auto
                                        button#submit_firstname(type="submit").btn.btn-primary Edit
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_firstname.text-danger

                form#form_profil.container(method="POST").text-center
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        label#label_lastname.sarina(for="profil_lastname")= user['lastname']
                                //- div.w-100
                                div.col-2.mt-auto.mb-auto
                                        input#profil_lastname.form-control.border(type="text" placeholder="Edit last name" maxlength="199" name="profil_lastname")
                                div.col-1.mt-auto.mb-auto
                                        button#submit_lastname(type="submit").btn.btn-primary Edit
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_lastname.text-danger

                form#form_profil.container(method="POST").text-center
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2.mt-auto.mb-auto
                                        label#label_gender.sarina(for="profil_gender")= user['genre']
                                //- div.w-100
                                div.col-3.mt-auto.mb-auto
                                        select#profil_gender(name="profil_gender")
                                                -if (user['genre'] === 'No gender')
                                                        option(value="B") No gender
                                                        option(value="M") Man
                                                        option(value="F") Female
                                                -else if (user['genre'] === 'I\'m a dick')
                                                        option(value="M") Man
                                                        option(value="B") No gender
                                                        option(value="F") Female                               
                                                -else if (user['genre'] === 'I\'m a pussy')
                                                        option(value="F") Female                               
                                                        option(value="M") Man
                                                        option(value="B") No gender
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_gender.text-danger

                form#form_profil.container(method="POST").text-center.mt-5
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        label#label_desire.sarina(for="profil_desire")= user['desire']
                                //- div.w-100
                                div.col-3.mt-auto.mb-auto
                                        select#profil_desire(name="profil_desire")
                                                -if (user['desire'] === 'I like all')
                                                        option(value="B") I like both
                                                        option(value="M") I like men
                                                        option(value="F") I like womans
                                                -else if (user['desire'] === 'I like dicks')
                                                        option(value="M") I like men
                                                        option(value="B") I like both
                                                        option(value="F") I like women                               
                                                -else if (user['desire'] === 'I like pussies')
                                                        option(value="F") I like women                               
                                                        option(value="M") I like men
                                                        option(value="B") I like both
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_desire.text-danger

                form#form_profil.container(method="POST").text-center.mt-5
                        div.form-group.row.justify-content-center.mb-3
                                div.col-3
                                        label#label_email.sarina(for="profil_email")= user['email']
                                //- div.w-100
                                div.col-2.mt-auto.mb-auto
                                        input#profil_email.form-control(type="email" placeholder="Edit email" maxlength="199" name="profil_email")
                                div.col-1.mt-auto.mb-auto
                                        button#submit_email(type="submit").btn.btn-primary Edit
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_email.text-danger

                form#form_profil.container(method="POST").text-center.border.border-top-0.border-left-0.border-right-0
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        label#label_age.sarina(for="profil_age")= user['age']
                                //- div.w-100
                                div.col-2.mt-auto.mb-auto
                                        input#profil_age.form-control(type="number" placeholder="Set your age" maxlength="20" name="profil_age")
                                div.col-1.mt-auto.mb-auto
                                        button#submit_age(type="submit").btn.btn-primary Edit
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_age.text-danger


                form#form_profil.container(method="POST").text-center.mt-5.border.border-top-0.border-left-0.border-right-0      
                        div.form-group.row.justify-content-center.mb-3
                                div.col-2
                                        h3.muffin Biography
                                div.w-100                        
                                div.w-50
                                        label#label_bio.sarina(for="profil_bio")= user['bio']
                                div.w-100
                                div.w-50.mt-auto.mb-auto
                                        input#profil_bio.form-control(type="text" placeholder="Edit your biography (Max 249 characters)" maxlength="249" name="profil_bio")
                                div.col-1.mt-auto.mb-auto
                                        button#submit_bio(type="submit").btn.btn-primary Edit
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_bio.text-danger

                form#form_profil.container(method="POST").text-center.mt-5.border.border-top-0.border-left-0.border-right-0
                        div.form-group.row.justify-content-center.mb-3
                                div.col-12.mb-4
                                        h3.muffin Tags
                                div.col-4                                                                
                                div#div_user_tags.col-4.mb-3(style="max-height:200px;overflow:auto;")
                                div.col-4                               
                                
                                        
                                div.col-3                                
                                div.col-6
                                        input#profil_tag.form-control(type="text" placeholder="Search or create a tag (Max 249 characters)" maxlength="249" name="profil_bio")
                                div.col-3       
                                div.col-1                         
                                div#div_list_tags.col-10.justify-content-left(style="overflow:auto;")
                                div.col-1
                        div.w-100.d-flex.justify-content-center.form-group
                                p#return_tags.text-danger
                div.col-12.container.pb-5
                        div.col-4
                        button.col-4#button_map.btn.btn-primary.m-5.p-2 Geolocalize or Localize yourself
                        div.col-4
                        div.col-8#map(style="height:250px;width: 500px;").m-auto.d-none
                
        
                script(src="assets/javascript/gmap.js")
                script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQLxSC_8p5hGoy2bSfRyLJL0Yhcrh1XXA")

                script(src="assets/javascript/profil.js")